body
{
    background: #f4f4f4;
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.container
{
    text-align: center;
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1
{
    color: #333;
}

.logo
{
    width: 200px;
    margin: 20px 0;
}
